/SE1804_G2_ClothesShop/build/
/Group2_SE1804_SWP291_ClothesShop/build/
Group2_SE1804_SWP291_ClothesShop/nbproject/genfiles.properties
Group2_SE1804_SWP291_ClothesShop/nbproject/private/private.properties
Group2_SE1804_SWP291_ClothesShop/nbproject/genfiles.properties
Group2_SE1804_SWP291_ClothesShop/nbproject/private/private.xml
Group2_SE1804_SWP291_ClothesShop/nbproject/project.properties
Group2_SE1804_SWP291_ClothesShop/nbproject/project.xml
Group2_SE1804_SWP291_ClothesShop/nbproject/project.xml
Group2_SE1804_SWP291_ClothesShop/nbproject/private/private.properties
Group2_SE1804_SWP291_ClothesShop/nbproject/project.properties
Group2_SE1804_SWP291_ClothesShop/nbproject/project.xml
Group2_SE1804_SWP291_ClothesShop/nbproject/project.properties
Group2_SE1804_SWP291_ClothesShop/nbproject/private/private.properties
Group2_SE1804_SWP291_ClothesShop/nbproject/genfiles.properties
*.xml
*.properties
!/Group2_SE1804_SWP291_ClothesShop/web/WEB-INF/web.xml
