/*
Click nbfs://nbhost/SystemFileSystem/Templates/Licenses/license-default.txt to change this license
Click nbfs://nbhost/SystemFileSystem/Templates/JSP_Servlet/CascadeStyleSheet.css to edit this template
*/
/* 
    Created on : May 22, 2023, 6:26:58 PM
    Author     : Mạc Huyền
*/
/*body {
    overflow-x:hidden;
}*/

.card{
    width: 80%;
    /*    height: 80%;*/
    padding: .90rem;
    box-shadow: 0 0.15rem 1rem 0 rgb(33 40 50 / 15%);
}
.card-list {
    width: 80%;
    height: 85%;
    padding: .90rem;
    box-shadow: 0 0.15rem 1rem 0 rgb(33 40 50 / 15%);
}
.form-search {
    /*    width: 70px;*/
    padding: .375rem .75rem;
    font-size: 1rem;
    font-weight: 400;
    line-height: 1.5;
    color: #495057;
    background-color: #fff;
    background-clip: padding-box;
    border: 2px solid #ced4da;
    border-radius: .25rem;
    transition: border-color .15s ease-in-out,box-shadow .15s ease-in-out;
}
.search-bar {
    width: 50%;
    padding: .375rem .75rem;
    font-size: 1rem;
    font-weight: 400;
    line-height: 1.5;
    color: #495057;
    background-color: #fff;
    background-clip: padding-box;
    border: 2px solid #ced4da;
    border-radius: .25rem;
    transition: border-color .15s ease-in-out,box-shadow .15s ease-in-out;
}
.table {
    background-color: white;
    vertical-align: middle; 
}
.btn-success {
    color: #fff;
    background-color: #33b900;
    border-color: #33b900;
}
.btn-delete {
    color: #fff;
    background-color: #ff0000;
    border-color: #ff0000;
}
.btn-view {
    color: #fff;
    background-color: #3399ff;
    border-color: #3399ff;
}
.pagger {
    float: right;
}
.pagger input[type="button"]
{
    margin-left: 3px;
    width: 40px;
    height: 40px;
    background-color: whitesmoke;
    border-color: #999999;
}
.pagger span
{
    color: #999999;
    margin-left: 3px;
}
.btn-cancel {
    color: #fff;
    background-color: #cccccc;
    border-color: #cccccc;
}
.btn-success {
    color: #fff;
    background-color: #33b900;
    border-color: #33b900;
}
.thumbnail-mini {
    height: 7rem;

}
.switch {
  position: relative;
  display: inline-block;
  width: 60px;
  height: 34px;
}

.switch input { 
  opacity: 0;
  width: 0;
  height: 0;
}

.slider {
  position: absolute;
  cursor: pointer;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: #ccc;
  -webkit-transition: .4s;
  transition: .4s;
}

.slider:before {
  position: absolute;
  content: "";
  height: 26px;
  width: 26px;
  left: 4px;
  bottom: 4px;
  background-color: white;
  -webkit-transition: .4s;
  transition: .4s;
}

input:checked + .slider {
  background-color: #2196F3;
}

input:focus + .slider {
  box-shadow: 0 0 1px #2196F3;
}

input:checked + .slider:before {
  -webkit-transform: translateX(26px);
  -ms-transform: translateX(26px);
  transform: translateX(26px);
}

/* Rounded sliders */
.slider.round {
  border-radius: 34px;
}

.slider.round:before {
  border-radius: 50%;
}